.contenedor{
    width:800px;
    height:500px;
    border:15px solid black;
    display:flex;

}
.elemento{
    width:80px;
    height:80px;
    border:30px orange;
    
}
h2{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
}
.cont-form{
    border:15px solid orange;
    padding: 20px;
    margin: 20px;
    width:800px;
    height:800px;
    display:flex;
    justify-content: center;

}
.elem-form{
    font-size: 20px;
    border:solid black;
   

}
